[Unit]
Description=Refresh Pacman mirrorlist weekly with Arch Mirrors Checker.

[Timer]
OnCalendar=weekly
Persistent=true
AccuracySec=1us
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target
